/*@font-face {*/
/*    font-family: "Roboto";*/
/*    font-weight: 400;*/
/*    src: url("assets/fonts/roboto-regular-webfont.woff") format("woff");*/
/*}*/

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 45pt;
    letter-spacing: 0;
    line-height: 52pt;

}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 28pt;
    letter-spacing: 0;
    line-height: 36pt;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16pt;
    letter-spacing: 0.15pt;
    line-height: 24pt;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14pt;
    letter-spacing: 0.25pt;
    line-height: 20pt;
}

small, span.label {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12pt;
    letter-spacing: 0.5pt;
    line-height: 16pt;
}

body{
    background-color: #D9D9D9;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.area_formulario {
    display: flex;
    align-items: center;
}

.formulario {
    width: 50%;
    margin: auto;
    background-color: var(--md-sys-color-surface);
    border-radius: 16px;
    max-width: fit-content;
    padding: 50px;
    align-content: center;
    --md-elevation-level: 1;
}

.barra_blanca {
    /*box-sizing: border-box;*/
    background-color: #FFFFFF;
    border: 1px solid #000000;
    /*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);*/
    /*border-radius: 5px;*/
    padding: 5px;
    width: 80%;
}

.barra_fondo {
    background-color: #D9D9D9;
    border: 1px solid #000000;
    padding: 5px;
    width: 80%;
}

.faqs {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    column-count: 2;
}

header{
    background-color: #D9D9D9;
    color:black;
    text-align: left;
    padding: 20px 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.navbar{
    background-color: #6FA5F6;
    color: black;
    padding: 10px 20px;
}
.menu{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.navbar-nav li{
    margin: 10px;
    
}
.navbar-nav a{
    text-decoration:none;
    color: black;
    transition: color 0.3s;
    padding: 10px ;
    border-radius: 5%;
    display: inline-block;
    background-color: #A4BFE7 ;
}
.navbar-nav a:hover{
    color: #D9D9D9;
}
.main-cta{
    background-color:#d9d9d9d8 ;
}
.cta-content p{
    background-color: #d9d9d9d8;
    
}
.rounded-corners{
    border-radius: 5%;
}
.cta-content p{
    font-size: 18px;
    border-radius: 0;   
    background-color: lightgray;
    padding: 5%;
    margin: 0;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 2px 2px 4px black inset;
}
.cta-content h2{
    font-size: 36px;
    border-radius: 0;   
    background-color: white;
    padding: 5%;
    margin: 0;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 2px 2px 4px black inset;
}
.cta-content a{
    margin: 20px 0;
}
.cta-content-message{
    font-size: 18px;
    border-radius: 0;   
    background-color: lightgray;
    padding: 5%;
    margin: 20% 0;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 2px 2px 4px black inset;
}
.cta-button{
    background-color: #A4BFE7 ;
    color: black;
    padding: 3%;
    text-decoration: none;
    font-weight: 500;
    border-radius: 25px;
    display: inline-block;    
    box-shadow: 2px 2px gray;
    margin: 10px 0;
}
.cta-button:hover{
    background-color: #d9d9d9d8;
}
.cta-image img{
    max-width: 50%;
    height: auto;
    /*align-items: right;*/
    margin-left: 50%;
}
#footer{
    color:black;
    padding: 20px;
    background-color: #6FA5F6;
}
.footer-bar li{
    display: inline-block;
}
.footer-text{
    text-align: right;
    border-radius: 10px;
    background-color: lightgray;
    
    padding: 1%;
    margin: 0 0 0 80%; 
}
.return-up-button {
    border-radius: 10px;
    background-color: lightgray;
    padding: 1%;
    margin: 0 0 0 0;
    list-style-type: none;
}.return-up-button a{
    text-decoration: none;
    color: black;
}
#testimonials{
    margin: 5% 5%;
}
.testimonials-grid{
    background-color: #6FA5F6;
    padding:  5% 0;
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    
}
#testimonials img{
    box-shadow: 2px 2px 4px black;
}
#pricing{
    margin: 7% 0;
}
.pricing-item ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    
}
.pricing-item{
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    padding: 25% 10%;
    height: 100%;
}
.pricing-button{
    background-color: #A4BFE7 ;
    color: black;
    padding: 3%;
    text-decoration: none;
    font-weight: 500;
    border-radius: 15px;
    display: inline-block;    
    box-shadow: 2px 2px gray;
    margin: 5% 0 0 0;
    text-decoration: none;
}
.pricing-copper{
    background-image: linear-gradient(315deg, #f5d3c8 0%, #c08552 74%);
}
.pricing-silver{
    background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);
}
.pricing-gold{
    background-image:linear-gradient(#cea55c, #ffcd89,#cea55c)
}
#success-stories{
    margin: 5%;
}
.success-stories-grid{
    background-color: #303A48;
    padding:  5%;
    border-style: solid;
    border-width: 5px;
    border-radius: 25px; 
    color: #D9D9D9;   
}
#success-stories img{
    width: 350px;
    height: 350px;
}
#about-us{
    margin:5%
}
#benefits{
    margin:5%
    
}
